:root {
  --accent: 34, 120, 237;
  --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #5536df 30%, white 60%);
}
html {
  font-family: system-ui, sans-serif;
  background-color: #f6f6f6;
}

fieldset {
  border: none;
  margin: 0.5rem 0;
}

legend {
  font-size: 0.85rem;
  color: #444;
}

#input-text-label {
  font-size: 0.85rem;
  color: #444;
}
#input-text {
  width: 100%;
  background-color: white;
  border-radius: 0.4rem;
  border: 1px solid rgba(var(--accent), 25%);
  padding: 1rem;
  margin: 0.4rem 0;
}
.instructions {
  line-height: 1.6;
  margin: 1rem 0;
  border: 1px solid rgba(var(--accent), 25%);
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
}
.instructions code {
  font-size: 0.875em;
  font-weight: bold;
  background: rgba(var(--accent), 12%);
  color: rgb(var(--accent));
  border-radius: 4px;
  padding: 0.3em 0.45em;
}
.instructions strong {
  color: rgb(var(--accent));
}
.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
  gap: 1rem;
  padding: 0;
}
