:root {
  --primary: 34, 120, 237;
  --primary-gradient: linear-gradient(45deg, rgb(var(--primary)), #5536df 30%, white 60%);
  --primary-light: rgba(var(--primary), 25%);
  --primary-background: #f6f6f6;
  --primary-text: #212121;
  --secondary-text: #b6b6b6;
  --accent: #d81b70;
}

@media screen and (max-width: 576px) {
  :root {
    font-size: 12px;
  }
}

html {
  font-family: system-ui, sans-serif;
  background-color: var(--primary-background);
}

body,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: 100svh;
}

footer {
  margin-top: auto;
  padding: 1.7rem 0;
  color: #555;
  font-size: 0.9rem;
}

li {
  list-style: none;
}

fieldset {
  border: none;
  margin: 0.5rem 0;
}

legend,
label {
  font-size: 0.85rem;
  color: #444;
}
